
# requirements.txt for the project with the libraries to install
bokeh
bs4
cartopy
colorcet
esda
fiona
geopandas
geoviews
google-cloud-translate
holoviews
hvplot
ipykernel
ipython
joblib
jupyter
jupyter-bokeh
libpysal
lxml
mapclassify
matplotlib
numpy
pandas
panel
pmdarima
pysal
scikit-learn
scipy
seaborn
selenium
shapely
spatialpandas
statsmodels
thefuzz
tqdm
wordcloud
